.container-fluid {
  margin: 20px
}

// Custom Loading Animation css
@keyframes placeHolder {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolder;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
  height: 24px;
  margin-bottom: 8px;
  position: relative;
}


// mat table css
table {
    width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.image{
  width: 500px;
}

// media query css
@media(max-width:768px) {
  .mat-column-temperament {
    max-width: 100px;
  }
}
@media(max-width:425px) {
  .image{
    width: 290px;
  }
  .mat-column-origin, .mat-column-lifeSpan, .mat-column-temperament {
    display: none;
  }
}

@media(max-width:320px) {
  .image{
    width: 210px;
  }
}